/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./public/**/*.{html,js}"],
  theme: {
    extend: {
      colors: {
        'primary-dark': '#1a1d21', 
        'secondary-dark': '#2c313a',
        'tertiary-dark': '#3a4049', 
        'primary-accent': '#4f85e5', 
        'primary-text': '#e0e0e0', 
        'secondary-text': '#a0a0a0', 
      },
      fontFamily: {
        sans: ['Inter', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"'],
      },
    },
  },
  plugins: [],
}
