/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */



/* Style the scrollbar for a more integrated dark theme look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: theme('colors.secondary-dark');
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: theme('colors.tertiary-dark');
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary-accent');
}

/* Style the progress bar */
progress {
   @apply rounded-full overflow-hidden h-3 bg-secondary-dark border border-tertiary-dark;
}

progress::-webkit-progress-bar {
  @apply bg-secondary-dark rounded-full;
}

progress::-webkit-progress-value {
  @apply bg-primary-accent rounded-full transition-all duration-300 ease-out;
}

progress::-moz-progress-bar { /* Firefox */
  @apply bg-primary-accent rounded-full;
}

/* Drag over effect */
.drag-over {
    @apply border-dashed border-2 border-primary-accent bg-secondary-dark;
}
